<launch>
<arg name="camera" default="camera" />

  <include file="$(find jackal_setup)/launch/os1_remappable.launch"/>

    <!-- run pointcloud_to_laserscan node -->
<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

  <remap from="cloud_in" to="/points_raw"/>
  <remap from="scan" to="front/scan"/>
  <rosparam>
      target_frame: front_laser
      max_height: 99.0
      range_min: 0.05
      range_max: 99.0
      angle_min: -1.57
      angle_max: 1.57
      angle_increment: 0.01
      scan_time: 0.1
      concurrency_level: 0
      use_inf: true
  </rosparam>
</node>
</launch>