<launch>

<arg name="map_file" default="$(find jackal_setup)/maps/3rd_floor_realsense_2.yaml"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find jackal_setup)/launch/amcl.launch"/>

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <param name="controller_frequency" value="10.0"/>
        <rosparam file="$(find jackal_setup)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find jackal_setup)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find jackal_setup)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find jackal_setup)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find jackal_setup)/param/planner.yaml" command="load" />
         <remap from ="odom" to="odometry/filtered" />
    </node>
</launch>
