<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find jackal_setup)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find jackal_setup)/turtlebot3_based_navigation/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find jackal_setup)/turtlebot3_based_navigation/launch/move_base_dwa_planner.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

<!-- <node name="static_3d_lidar_frame_publisher" pkg="tf" type="static_transform_publisher" args="0.05 0 0 0 0 0 base_link front_laser 50"/> -->
  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find jackal_setup)/config/turtlebot3_navigation.rviz"/>
  </group>
</launch>
